# DATABASE_DRIVER="sqlite3"
# DATABASE_ENDPOINT="file:ent?mode=memory&cache=shared&_fk=1"
DATABASE_DRIVER="postgres"
DATABASE_ENDPOINT="host=postgres port=5432 user=admin dbname=tereus password=admin sslmode=disable"

S3_BUCKET="tereus"
S3_ACCESS_KEY="miniokey"
S3_SECRET_KEY="miniosecret"
S3_ENDPOINT="minio:9000"
KAFKA_ENDPOINT="kafka:9092"

SUBMISSIONS_FOLDER="remix-results"

GITHUB_OAUTH_CLIENT_ID=f2be0453a30bfdb8bc6c
GITHUB_OAUTH_CLIENT_SECRET=

STRIPE_SECRET_KEY=
STRIPE_TIER_PRO_BASE=price_1L201HIhuRfwV0dhwuR9AUuK
STRIPE_TIER_PRO_METERED=price_1L2H77IhuRfwV0dhj5GoYhyF
STRIPE_TIER_ENTERPRISE_BASE=price_1L203OIhuRfwV0dhtYCeq7NO
STRIPE_TIER_ENTERPRISE_METERED=price_1L2H98IhuRfwV0dhgk4YGIGQ
# You can generate the secret using the following command:
# stripe listen --forward-to http://localhost:1323/stripe-webhooks
STRIPE_WEBHOOK_SECRET=

LOG_FORMAT=json
LOG_LEVEL=debug
ENV=dev
SENTRY_DSN=
